body {
  background-color: #B8AF98;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

h1 {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 a, h1 a:visited, h1 a:hover, h1 a:active {
  text-decoration: none;
  color: inherit;
}

.content {
  background-color: #e4e4e4;
  border-radius: 20px;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
  font-family: Koulen, sans-serif;
  font-size: 40px;
}

.content li {
  margin-bottom: 10px;
}

div.image-container {
  margin-top: 20px;
}

div.content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: #000;
  text-align: center;
  font-family: Koulen, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

p {
  font-size: 20px;
}

.active, .active:hover {
  text-decoration: underline;
}